services:
  web:
    build:
      context: .
    restart: on-failure
    container_name: ctomop_web_dev
    command: >
      sh -c "
      ./wait-for-db.sh db &&
      python manage.py migrate &&
      python manage.py runserver 0.0.0.0:8000
      "
    environment:
      DATABASE_URL: postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:${POSTGRES_PORT}/${POSTGRES_DB}
      DEBUG: ${DEBUG}
      PORT: 8000
    ports:
      - "8000:8000"
    volumes:
      - .:/app
      - /app/frontend/node_modules
      - /app/node_modules

  db:
    image: postgres:15
    restart: on-failure
    container_name: ctomop_db_dev
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "${POSTGRES_PORT}:5432"
    volumes:
      - postgres_data_dev:/var/lib/postgresql/data

volumes:
  postgres_data_dev:
